*{
    margin:0;
    padding:0;
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&family=Dongle&family=Luxurious+Roman&family=Roboto:wght@300&family=The+Nautigal:wght@700&family=Ubuntu:wght@300;400;700&display=swap');
}
main{
    background-image: url("js.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  background-position: center;
  width:100%;
  height: 100vh;
}
.container{

       max-width:350px;
        height: 400px;
        background-color:linen;
        padding:20px;
        position:absolute;
    top:100px;
    left:30em;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(107, 171, 236, 0.637);

}
.header-text{
    text-align: center;
    color:rgba(72, 155, 30, 0.768);
    margin-top:50px;
}
.container-fluid{
    text-align: center;

    font-family: 'Be Vietnam Pro', sans-serif;

}
.container-fluid h3{
    font-size:50px;
    color:rgba(184, 181, 0, 0.876);
    margin-top: 1em;
   
    
}
.btn{
    cursor: pointer;
    width:100px;
    height: 50px;
    border-radius: 20px;
    background-color:rgba(235, 31, 31, 0.89);
    border:none;
    color:rgb(255, 255, 255);
    font-size: 20px;
   transition: all 1s ease-in-out;
    margin-top: 70px;
    box-shadow: 5px 5px 10px lightslategray;
}

.btn_increment:hover{
    background-color:orange;
    color:black;
}
.btn_reset:hover{
    background-color:rgb(122, 0, 65);
    color:rgb(218, 192, 192);
}
.btn_decrement:hover{
    background-color:rgb(255, 117, 191);
    color:rgb(0, 0, 0);
}
